// 定义应用的最大宽度，确保应用在大屏幕上不会展得太宽
$app-max-width: 1600px;
// 定义导航栏的高度为70像素，确保其他部分的布局不会被导航栏的高度所影响
$nav-bar-height: 70px;
// 定义了移动设备的高度断点，用于确定在何种屏幕高度下应用移动优化的样式
$mobile-height-breakpoint: 900px;
// 定义大圆角的大小，通常用于圆角按钮或卡片等元素
$border-radius-lg: 10px;
// 定义中等圆角的大小，用于一些元素的轻微圆角效果
$border-radius-md: 4px;
// 定义卡片之间的间距为2个rem，可能用于确保卡片布局的美观性和一致性
$card-gap: 2rem;
// 页面背景色的浅色值
$page-bg-color-light: #f1f2f3;
// 页面背景的深色值
$page-bg-color-dark: #0e0d0c;
// 文本的浅色值
$text-color-light: #606266;
// 特定的蓝色值，用于元素或者组件的特定样式
$element-plus-blue: #409eff;
